{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block navbar %}{% endblock %}
{% block flashes %}{% endblock %}

{% block title %}Symfony Bootstrap by Zorbus{% endblock title %}

{% block headline %}Symfony2 Bootstrap{% endblock headline %}

{% block footer %}<p>&copy; <a href="http://www.titomiguelcosta.com" target="_blank">Zorbus</a> {{ date() | date('Y')}}</p>{% endblock footer %}